@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
  right: 1rem;
}
